[Unit]
Description=pastore key-value store
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory={WorkingDirectory}
ExecStart=/bin/java -jar pastore-1.0.jar /etc/pastore/pastore.properties
EnvironmentFile=/etc/pastore/secrets.env
Restart=always
User=pastore
Group=pastore
